@{
    ViewData["Title"] = "User Edit";
}

@model HMT_Tech.Models.Register

<body class="  ">
    <div class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="iq-edit-list usr-edit">
                                    <ul class="iq-edit-profile d-flex nav nav-pills">
                                        <li class="col-md-3 p-0">
                                            <a class="nav-link active" data-toggle="pill" href="#personal-information">
                                                Personal Information
                                            </a>
                                        </li>
                                        <li class="col-md-3 p-0">
                                            <a class="nav-link" data-toggle="pill" href="#chang-pwd">
                                                Change Password
                                            </a>
                                        </li>
                                     
                                    
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="iq-edit-list-data">
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between">
                                            <div class="iq-header-title">
                                                <h4 class="card-title">Personal Information</h4>
                                            </div>
                                        </div>
                                
                                        <div class="card-body">
                                        <form method="post" enctype="multipart/form-data" id="updateFOrm">
                                            <input type="hidden" value="@Model.Id" name="profileId" />
                                                <div class="form-group row align-items-center">
                                                    <div class="col-md-12">
                                                        <div class="profile-img-edit">
                                                            <div class="crm-profile-img-edit">
                                                            <img class="crm-profile-pic rounded-circle avatar-100" src="@Model.Image" alt="profile-pic">
                                                         
                                                                <div class="crm-p-image bg-primary">
                                                                    <i class="las la-pen upload-button"></i>
                                                                <input class="file-upload" type="file" name="profilePic" accept="image/*">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=" row align-items-center">
                                                    <div class="form-group col-sm-6">
                                                        <label for="fname">Full Name:</label>
                                                        <input type="text" class="form-control" id="fname" asp-for="Name">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="lname">Identity:</label>
                                                        <input type="text" class="form-control" id="lname" readonly asp-for="Identity">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="uname">Email:</label>
                                                    <input type="text" class="form-control" id="uname" asp-for="Email">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="cname">Role:</label>
                                                    <input type="text" class="form-control" id="cname" readonly asp-for="Role">
                                                    </div>
                                                      <div class="form-group col-sm-6">
                                                        <label for="dob">Balance:</label>
                                                    <input class="form-control" id="dob " readonly asp-for="Balance">
                                                    </div>
                                                      <div class="form-group col-sm-6">
                                                        <label for="dob">Manager:</label>
                                                    <input class="form-control" id="dob" readonly asp-for="Manager">
                                                    </div>
                                                <div class="form-group col-sm-6">
                                                    <label asp-for="Gender" class="d-block">Gender:</label>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="customRadio6" name="Gender" class="custom-control-input" value="Male" @(Model.Gender == "Male" ? "checked" : "")>
                                                        <label class="custom-control-label" for="customRadio6">Male</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="customRadio7" name="Gender" class="custom-control-input" value="Female" @(Model.Gender == "Female" ? "checked" : "")>
                                                        <label class="custom-control-label" for="customRadio7">Female</label>
                                                    </div>
                                                </div>
                                                  
                                                </div>
                                                <button  type="submit" class="btn btn-primary mr-2">Update</button>
                                                <button type="reset" class="btn iq-bg-danger">Cancel</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="chang-pwd" role="tabpanel">
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between">
                                            <div class="iq-header-title">
                                                <h4 class="card-title">Change Password</h4>
                                            </div>
                                        </div>
                                    @{
                                        ViewData["Title"] = "User Edit";
                                    }
                                    <div class="card-body">
                                        <form method="post" asp-action="ChangePassword" id="changePasswordForm">
                                            <input type="hidden" name="checkpass" value="@Model.Password" />
                                            <input type="hidden" name="passid" value="@Model.Id" />
                                            <div class="form-group">
                                                <label for="cpass">Current Password:</label>
                                                @* <a href="javascript:void(0);" class="float-right">Forgot Password</a> *@
                                                <input type="password" class="form-control" id="cpass" name="CurrentPassword">
                                            </div>
                                            <div class="form-group">
                                                <label for="npass">New Password:</label>
                                                <input type="password" class="form-control" id="npass" name="NewPassword">
                                            </div>
                                            <div class="form-group">
                                                <label for="vpass">Verify Password:</label>
                                                <input type="password" class="form-control" id="vpass" name="ConfirmPassword">
                                            </div>
                                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                            <button type="reset" class="btn iq-bg-danger">Cancel</button>
                                        </form>
                                        <div id="errorMessages" style="color:red;"></div>
                                    </div>


 
                                



                                </div>
                                </div>
                                <div class="tab-pane fade" id="emailandsms" role="tabpanel">
                                   
                                </div>
                                <div class="tab-pane fade" id="manage-contact" role="tabpanel">
                           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Wrapper End-->
    <!-- Modal list start -->
    <div class="modal fade" role="dialog" aria-modal="true" id="new-project-modal">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header d-block text-center pb-3 border-bttom">
                    <h3 class="modal-title" id="exampleModalCenterTitle01">New Project</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label for="exampleInputText01" class="h5">Project Name*</label>
                                <input type="text" class="form-control" id="exampleInputText01" placeholder="Project Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText2" class="h5">Categories *</label>
                                <select name="type" class="selectpicker form-control" data-style="py-0">
                                    <option>Category</option>
                                    <option>Android</option>
                                    <option>IOS</option>
                                    <option>Ui/Ux Design</option>
                                    <option>Development</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText004" class="h5">Due Dates*</label>
                                <input type="date" class="form-control" id="exampleInputText004" value="">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label for="exampleInputText07" class="h5">Assign Members*</label>
                                <input type="text" class="form-control" id="exampleInputText07">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                                <div class="btn btn-primary mr-3" data-dismiss="modal">Save</div>
                                <div class="btn btn-primary" data-dismiss="modal">Cancel</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" role="dialog" aria-modal="true" id="new-task-modal">
        <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header d-block text-center pb-3 border-bttom">
                    <h3 class="modal-title" id="exampleModalCenterTitle">New Task</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label for="exampleInputText02" class="h5">Task Name</label>
                                <input type="text" class="form-control" id="exampleInputText02" placeholder="Enter task Name">
                                <a href="#" class="task-edit text-body"><i class="ri-edit-box-line"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mb-3">
                                <label for="exampleInputText2" class="h5">Assigned to</label>
                                <select name="type" class="selectpicker form-control" data-style="py-0">
                                    <option>Memebers</option>
                                    <option>Kianna Septimus</option>
                                    <option>Jaxson Herwitz</option>
                                    <option>Ryan Schleifer</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mb-3">
                                <label for="exampleInputText05" class="h5">Due Dates*</label>
                                <input type="date" class="form-control" id="exampleInputText05" value="">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mb-3">
                                <label for="exampleInputText2" class="h5">Category</label>
                                <select name="type" class="selectpicker form-control" data-style="py-0">
                                    <option>Design</option>
                                    <option>Android</option>
                                    <option>IOS</option>
                                    <option>Ui/Ux Design</option>
                                    <option>Development</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label for="exampleInputText040" class="h5">Description</label>
                                <textarea class="form-control" id="exampleInputText040" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label for="exampleInputText005" class="h5">Checklist</label>
                                <input type="text" class="form-control" id="exampleInputText005" placeholder="Add List">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group mb-0">
                                <label for="exampleInputText01" class="h5">Attachments</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile003">
                                    <label class="custom-file-label" for="inputGroupFile003">Upload media</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-4">
                                <div class="btn btn-primary mr-3" data-dismiss="modal">Save</div>
                                <div class="btn btn-primary" data-dismiss="modal">Cancel</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" role="dialog" aria-modal="true" id="new-user-modal">
        <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header d-block text-center pb-3 border-bttom">
                    <h3 class="modal-title" id="exampleModalCenterTitle02">New User</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group mb-3 custom-file-small">
                                <label for="exampleInputText01" class="h5">Upload Profile Picture</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile02">
                                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText2" class="h5">Full Name</label>
                                <input type="text" class="form-control" id="exampleInputText2" placeholder="Enter your full name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText04" class="h5">Phone Number</label>
                                <input type="text" class="form-control" id="exampleInputText04" placeholder="Enter phone number">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText006" class="h5">Email</label>
                                <input type="text" class="form-control" id="exampleInputText006" placeholder="Enter your Email">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText2" class="h5">Type</label>
                                <select name="type" class="selectpicker form-control" data-style="py-0">
                                    <option>Type</option>
                                    <option>Trainee</option>
                                    <option>Employee</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText2" class="h5">Role</label>
                                <select name="type" class="selectpicker form-control" data-style="py-0">
                                    <option>Role</option>
                                    <option>Designer</option>
                                    <option>Developer</option>
                                    <option>Manager</option>
                                    <option>BDE</option>
                                    <option>SEO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                                <div class="btn btn-primary mr-3" data-dismiss="modal">Save</div>
                                <div class="btn btn-primary" data-dismiss="modal">Cancel</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" role="dialog" aria-modal="true" id="new-create-modal">
        <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header d-block text-center pb-3 border-bttom">
                    <h3 class="modal-title" id="exampleModalCenterTitle03">New Task</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label for="exampleInputText03" class="h5">Task Name</label>
                                <input type="text" class="form-control" id="exampleInputText03" placeholder="Enter task Name">
                                <a href="#" class="task-edit text-body"><i class="ri-edit-box-line"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText2" class="h5">Assigned to</label>
                                <select name="type" class="selectpicker form-control" data-style="py-0">
                                    <option>Memebers</option>
                                    <option>Kianna Septimus</option>
                                    <option>Jaxson Herwitz</option>
                                    <option>Ryan Schleifer</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText2" class="h5">Project Name</label>
                                <select name="type" class="selectpicker form-control" data-style="py-0">
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label for="exampleInputText40" class="h5">Description</label>
                                <textarea class="form-control" id="exampleInputText40" rows="2" placeholder="Textarea"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label for="exampleInputText8" class="h5">Checklist</label>
                                <input type="text" class="form-control" id="exampleInputText8" placeholder="Add List">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group mb-0">
                                <label for="exampleInputText01" class="h5">Attachments</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                                    <label class="custom-file-label" for="inputGroupFile01">Upload media</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-4">
                                <div class="btn btn-primary mr-3" data-dismiss="modal">Save</div>
                                <div class="btn btn-primary" data-dismiss="modal">Cancel</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>
        $(document).ready(function () {
            $('#changePasswordForm').on('submit', function (event) {
                event.preventDefault();

                var currentPassword = $('#cpass').val();
                var newPassword = $('#npass').val();
                var confirmPassword = $('#vpass').val();
                var checkpass = $('input[name="checkpass"]').val();
                var passid = $('input[name="passid"]').val();

                var errorMessages = '';

                // Validate current password
                if (currentPassword !== checkpass) {
                    errorMessages += '<p>The current password is incorrect.</p>';
                }

                // Validate new password and confirm password
                if (newPassword !== confirmPassword) {
                    errorMessages += '<p>The new password and confirm password do not match.</p>';
                }

                if (errorMessages) {
                    $('#errorMessages').html(errorMessages);
                } else {
                    // No errors, submit the form
                    $.post('/ChangePassword', { passid: passid, newpass: newPassword }, function (response) {
                        // Handle the response if needed
                        Swal.fire({
                            title: 'Success',
                            text: 'Your Password has been updated!',
                            icon: 'success',
                            confirmButtonText: 'OK',
                            customClass: {
                                popup: 'white-popup'
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        });
                    }).fail(function () {
                        Swal.fire({
                            title: 'Error',
                            text: 'An error occurred. Please try again.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    });
                }
            });
        });
    </script>



@* Add this script at the end of your view *@
@section Scripts {
    <script>
        // Check if TempData contains the flag to show SweetAlert
        $(document).ready(function () {
        @if (TempData.ContainsKey("ShowSweetAlert") && (bool)TempData["ShowSweetAlert"])
        {
            <text>
                    Swal.fire({
                        title: 'Success',
                        text: 'Your Profile has been updated!',
                        icon: 'success',
                        confirmButtonColor: '#007bff'
                    });
            </text>
            // Clear the TempData flag
            TempData["ShowSweetAlert"] = false;
        }
                });
    </script>
}

@* <script>
    $(document).ready(function () {
        $('#changePasswordForm').on('submit', function (event) {
            event.preventDefault();

            var currentPassword = $('#cpass').val();
            var newPassword = $('#npass').val();
            var confirmPassword = $('#vpass').val();
            var checkpass = $('input[name="checkpass"]').val();
            var passid = $('input[name="passid"]').val();

            var errorMessages = '';

            // Validate current password
            if (currentPassword !== checkpass) {
                errorMessages += '<p>The current password is incorrect.</p>';
            }

            // Validate new password and confirm password
            if (newPassword !== confirmPassword) {
                errorMessages += '<p>The new password and confirm password do not match.</p>';
            }

            if (errorMessages) {
                $('#errorMessages').html(errorMessages);
            } else {
                // No errors, submit the form
                $.post('/ChangePassword', { passid: passid, newpass: newPassword }, function (response) {
                    // Handle the response if needed
                    alert('Password updated successfully.');
                    location.reload();
                }).fail(function () {
                    alert('An error occurred. Please try again.');
                });
            }
        });
    });
</script>
 *@